.hdr {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    background-color: #ffba00;
    height: 50px;
    padding-top: 40px;
}

.hdr-left {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.hdr-center {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.hdr-right {
    text-align: right;
    
}

.logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-left: 30px;
}

.nav {
    margin-left: 100px;
}

.nav-item {
    position: relative;
}

.nav-text {
    margin-left: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.nav-item:hover .dropdown {
    display: block;
}

.search {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    font-size: 14px;
    width: 100%;
}

.icon {
    margin: 9px 26px 0 0;
    font-size: 22px;
}

.icon-white-bg {
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.post-btn {
    padding: 5px 10px;
    background-color: #FF8800;
    border: none;
    cursor: pointer;
    width: 130px;
    height: 40px;
    color: white;
    margin-left: 40px;
    margin-right: 40px;

}

.hdr-center input {
    width: 1000px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.search-icon {
    padding: 8px;
    border: 1px solid #FF8800;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    font-size: 16px;
    color: #fffbfb;
    background-color: #FF8800;
    width: 40px;;
}

.hdr-center input:focus {
    outline: none;
    border-color: #666;
}

